<!DOCTYPE html>
<head>
	<title>{% block title %}Inicio{% endblock %}</title>	
	<link rel="stylesheet" type="text/css" media="(min-width: 376px)" href="../styles.css"> <!--probando-->
	<link rel="stylesheet" type="text/css" media="(max-width: 376px)" href="../stylesMoviles.css"> <!--probando-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	{% block head%}{% endblock %}
	<meta charset="UTF-8">
	
</head>
<body id="fondo">
	<div id="contenido">
		<div id="encabezado">
			<div id="login">
				<p>Hola, {% block saludo %}{{usuario}}{% endblock %}!</p>
				<p><a href="logout.php">Logout</a></p> 
			</div>
			<div id="tituloHeader"> 
				<center><h1>{% block titulo %}{{titulo}}{% endblock %}</h1></center>
				<center><h5>Escuela de la Universidad Nacional de La Plata</h5></center>
			</div>
			
			<div id="menuHeader">
				<ul>
					<center>
					<li><a href="../controlador/backend.php?controller=index">Inicio</a></li>
					{% block operacionesPermitidas %}
						{% if rol == "administracion" %}
                                            <li><a href='backend.php?controller=menuUsuarios'>Usuarios</a></li>
					    <li><a href='backend.php?controller=menuResponsables'>Responsables</a></li>
					    <li><a href='backend.php?controller=menuAlumnos'>Alumnos</a></li>
					    <li><a href='backend.php?controller=menuCuotas'>Cuotas</a></li>
					    <li><a href='backend.php?controller=menuConfig'>Configuraci&oacute;n</a></li>
					    <li><a href='backend.php?controller=menuMapas'>Mapas</a></li>
					    {% endif %}

					    {% if rol == "gestion" %}
					    <li><a href='backend.php?controller=menuCuotas'>Cuotas y Matriculas</a></li>
					    <li><a href='backend.php?controller=menuMapas'>Mapas</a></li>
					    {% endif %}
						<li><a href='../controlador/backend.php?controller=menuListados'>Listados</a></li>
						
					{% endblock %}
					</center>
				</ul>
			</div>
		</div>
		{% block contenido %}
		<div id="submenu">
	<div id="itemMenu">
			<div id="tituloMenu"><p>Inicio</p></div>
			<ul>
                                        <li><a href='backend.php?controller=menuUsuarios'>Usuarios</a></li>
					<li><a href='backend.php?controller=menuResponsables'>Responsables</a></li>
					<li><a href='backend.php?controller=menuAlumnos'>Alumnos</a></li>
					<li><a href='backend.php?controller=menuCuotas'>Cuotas</a></li>
					<li><a href='backend.php?controller=menuConfig'>Configuraci&oacute;n</a></li>
					<li><a href='backend.php?controller=menuMapas'>Mapas</a></li>
			</ul>
	</div>		
</div>
		{% endblock %}

		</div>
    
</body>