{% extends 'headerBackend.twig.html' %}

{% block title %}Menu inicio{% endblock %}

{% block saludo %}
	{{ usuario }}
{% endblock %}

{% block titulo %}
	{{ titulo }}
{% endblock %}

{% block contenido %}
	<div id="submenu">
		
			
			<div id="itemMenu">
				<div id="tituloMenu"><p>Listados</p></div>
				<ul>
					<li><a href="../controlador/backend.php?controller=listadosMatriculasPagas&pagina=1">Alumnos con matr&iacute;cula paga</a></li>
					<li><a href="../controlador/backend.php?controller=listadoDeCuotasImpagas&pagina=1">Cuotas impagas, por mes y a&ntilde;o</a></li>
					<li><a href="../controlador/backend.php?controller=listadoDeCuotasPagas&pagina=1">Cuotas pagas, por mes y a&ntilde;o</a></li>
					<li><a href="../controlador/backend.php?controller=graficos">Estad&iacute;sticas de ingresos por cuotas y matr&iacute;culas</a></li>
					{% if rol != "consulta" %}
						<li><a href="../controlador/backend.php?controller=listadoDeComisiones&pagina=1">Comisi&oacute;n cobrador, por mes y a&ntilde;o</a></li>
					{% endif %}
					<li><a href="../controlador/backend.php?controller=listadoDeAlumnos&pagina=1">Alumnos</a></li>
				</ul>
			</div>
			
	</div>
{% endblock %}